# Bash configuration

alias ll='ls -lG'
alias l="ls -lah"
alias gd="cd /Users/drichtar/go/src"

# git setup
alias gr='git remote -v'
alias gb='git branch'
alias gs="git status"
alias gl="git log --pretty=format:'%h%d %s [%an]' --decorate --all --graph --color=always| ~/.bash/git-log-color.awk | less -RXFS"

alias ssh-agent-autoload='eval "$(ssh-agent -s)" && ssh-add'

alias vim="vim -p" # open with tabs

alias cvs="cvs -z3"

alias brewu='brew update && brew upgrade && brew cleanup'
alias mvnset="cd /usr/local/Cellar/maven/3.6.2/libexec/conf"

function mvnrepo {
  cd
  cd .m2/
}
